.dialogsWrap {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogsItem {
	padding-left: 10px;
	border-right: 3px solid sienna;
}

.messages {
	padding: 10px;
	display: flex;
	flex-direction: column;
}